<ul id="contextMenu" class="dropdown-menu" role="menu">
	<li>
		<a id="dropdown-delete" href="#">
			<span class="badge">
				<i class="fa fa-trash-o"></i>
			</span>
			Delete
		</a>
	</li>
	<li>
		<a id="dropdown-edit" href="#">
			<span class="badge">
				<i class="fa fa-pencil"></i>
			</span>
			Edit
		</a>
	</li>
	<li>
		<a id="face-up" href="#">
			<span class="badge">
				<i class="fa fa-arrow-up"></i>
			</span>
			Face Up
		</a>
	</li>
	<li>
		<a id="face-down" href="#">
			<span class="badge">
				<i class="fa fa-arrow-down"></i>
			</span>
			Face Down
		</a>
	</li>
	<li>
		<a id="face-left" href="#">
			<span class="badge">
				<i class="fa fa-arrow-left"></i>
			</span>
			Face Left
		</a>
	</li>
	<li>
		<a id="face-right" href="#">
			<span class="badge">
				<i class="fa fa-arrow-right"></i>
			</span>
			Face Right
		</a>
	</li>
</ul>
