<div id="options" class="container-fluid">
	<div class="row">
		<h3 class="col-xs-12 text-center">Options</h3>
	</div>
	<div class="row">
		<dl class="dl-horizontal">
			<dt class="new-seat-container">
				<span id="newSeat">
				</span>
			</dt>
			<dd>
				New Seat Passenger
			</dd>
		</dl>
	</div>
</div>