<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tafelflying.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tafelflying.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TafelFlying</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$TafelFlying</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TafelFlyingServices" Order="1" Enabled="False">
          <Destination Path="Data Source=nl9jtuae9w.database.windows.net;Initial Catalog=TafelFlying;User ID=tmtafel;Password=valley06$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TafelFlyingServices.Models.ApplicationDbContext, TafelFlyingServices" MigrationConfiguration="TafelFlyingServices.Migrations.Configuration, TafelFlyingServices" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TafelFlyingServices-Web.config Connection String">
      <ParameterValue>Data Source=nl9jtuae9w.database.windows.net;Initial Catalog=TafelFlying;User ID=tmtafel;Password=valley06$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>