@{
    ViewBag.Title = "Tafel Flying Services";
}

<div class="jumbotron">
    <h1>Tafel Flying Services</h1>
    <p class="lead">Fly Away</p>
    <p>
        <a href="/Flights/Calendar/@DateTime.Now.Year/@DateTime.Now.Month" class="btn btn-primary btn-lg">Calendar &raquo;</a>
    </p>
</div>